.crossedtext
{
    text-decoration: line-through;
    position: static;
    margin-top: 15px;
    font-size: 14px;
}

.shoTollbar {
    margin:10px 0 20px 0;
    padding:10px;
    border:1px solid rgba(0,0,0,0.2);
    background:#f00;
    color:#fff;
    border-radius:4px;
  
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
  }
  
  .shoTollbar.ng-hide {
    opacity:0;
    /* transform: scale(0.8); */
  }

  .cardtitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80px;
  }

  .hotel-details-pic
  {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position-x: center;
    background-position-y: 0%;
    min-height:200px;
    max-height:200px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-top: -55px;
  }

  .ablout-hotel
  {
    height: 175px;
  }