<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" (click)="myDismiss()" slot="start" class="mediumicon"></ion-icon>
    <form>
      <ion-input [formControl]="myControl" [(ngModel)]="serachfilter" placeholder="Search Are/City/Hotel Name">
      </ion-input>
    </form>

    <!-- <ion-searchbar  autocomplete="on" placeholder="Search City/Area/Hotel"></ion-searchbar> -->
    <ion-icon name="refresh" (click)="serachfilter = ''" slot="end" class="mediumicon"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="shownearme">
    <ion-item>
      <ion-icon color="primary" name="locate"></ion-icon> &nbsp;Near Me
    </ion-item>
  </ion-list>
  <div *ngIf="!shownearme">
    <ion-list *ngFor="let option of filteredOptions">
      <ion-item (click)="getSelectedValue(option)">
        <ion-col>
          <ion-label>{{option.serachresult}}</ion-label>
          <ion-text color="medium"><i>{{option.address}}</i></ion-text>
        </ion-col>
        <ion-text color="medium"><sup>{{option.type}}</sup></ion-text>
      </ion-item>
    </ion-list>
  </div>
</ion-content>