
<ion-header>
   
     
          <ion-tab-bar slot="top" class="p-1">
              <ion-tab-button (click)="redirectionToUrl('hotels')">
                  <i class="material-icons icon icon-resort text-light-primary"></i>
                <ion-label>Hotels</ion-label>
              </ion-tab-button>
    
              <ion-tab-button (click)="redirectionToUrl('restraunrants')">
                  <i class="material-icons icon icon-restraurant text-light-primary"></i>
                <ion-label>Restraurant</ion-label>
              </ion-tab-button>
    
    
              <ion-tab-button (click)="redirectionToUrl('experiences')">
                  <i class="material-icons icon icon-amusement-park text-light-primary">
                    
                      </i>
                <ion-label>Experiences</ion-label>
              </ion-tab-button>
        
             
            </ion-tab-bar>
      
            <ion-tab-bar slot="top"  class="p-1">
           
                <ion-tab-button (click)="redirectionToUrl('buses')">
                    <i class="material-icons icon icon-bus text-light-primary"></i>
                  <ion-label>Bus</ion-label>
                </ion-tab-button>
          
                <ion-tab-button (click)="redirectionToUrl('cars')">
                    <i class="material-icons icon icon-car text-light-primary"></i>
                  <ion-label>Cab</ion-label>
                </ion-tab-button>
    
                <ion-tab-button (click)="redirectionToUrl('trains')">
                    <i class="material-icons icon icon-train text-light-primary"></i>
                  <ion-label>Trains</ion-label>
                </ion-tab-button>
    
            </ion-tab-bar>
  </ion-header>

<ion-content>
      <ion-slides #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)"  pager="true" [options]="slideOpts" class="mt-1">
          <ion-slide>
          <img class="slider-image" src="../../assets/images/misc/slider1.jpg">
          </ion-slide>
          <ion-slide>
          <img class="slider-image"  src="../../assets/images/misc/slider2.jpg">
          </ion-slide>
          <ion-slide>
          <img class="slider-image"  src="../../assets/images/misc/slider3.jpg">
          </ion-slide>
        </ion-slides>
</ion-content>
