<ion-header>
  <ion-toolbar>
      <ion-icon name="close" (click)="redirectionToUrl('/home/main')" slot="start" class="ml-3 mediumicon" ></ion-icon>
      <ion-title>EXPERIENCES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
  
  <ion-card *ngFor="let obj of experienceResult;let i = index;">
    <div class="row" (click)="RedirectToDetails(obj)">
        <img [src]="obj.bannerinage" onError="this.src= '../../../../assets/images/placeholders/experiences.gif'" class="img-fluid img-thumbnail" style="min-height:200px;max-height:200px;width: 100%;max-width: 100%;min-width: 100%;">
    </div>
    
  <ion-item>
    <ion-label (click)="RedirectToDetails(obj)">{{obj.name}}</ion-label>
    <label slot="end" class="text-right mt-2" style="font-size: .8em;"><span *ngFor="let stars of [1,2,3,4,5]"><i class="fa fa-star"  style="color:goldenrod" aria-hidden="true"></i></span></label>
  </ion-item>
 
  <ion-card-content>
      <ion-fab horizontal="end" slot="fixed" style="margin-top: -97px">
          <ion-fab-button color="light" size="small" (click)="hitLike(obj)" >
              <ion-icon *ngIf="obj.explikebymember == 1" name="heart" style="color:rgb(250, 48, 48)"></ion-icon>
              <ion-icon *ngIf="obj.explikebymember == 0" name="heart-empty"></ion-icon>
          </ion-fab-button>
        </ion-fab>
   <!-- {{obj.address}}, {{obj.state}} -->
  </ion-card-content>
  <ion-card-content (click)="RedirectToDetails(obj)">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
            <div class="card-desripction">
               <span [innerHTML]="obj.description"></span>
            </div>
        </ion-col>
        <ion-col size="6" style="text-align: right">
            <ion-button fill="outline">{{obj.discounted_price | currency:"₹" }}</ion-button>
            <ion-button fill="outline" color="danger" style="text-decoration: line-through;">{{obj.price | currency:"₹" }}</ion-button>
        
        </ion-col>
      </ion-row>
    </ion-grid>
     
  </ion-card-content>
    <ion-card-header (click)="RedirectToDetails(obj)">
      {{obj.expreviews}} reviews for this.
      <br>
      {{obj.explikes}} Likes for this.
    </ion-card-header>
</ion-card>


</ion-content>

<!-- 
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="text-center">
            <ion-tab-button>
                <i class="filters fa fa-inr" aria-hidden="true"></i>
                <ion-label>Price</ion-label>
              </ion-tab-button>
          </ion-col>
          <ion-col size="3" class="text-center">
            <ion-tab-button>
                <i class="filters fa fa-map-marker" aria-hidden="true"></i>
                <ion-label>Location</ion-label>
              </ion-tab-button>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer> -->