<ion-header>
  <ion-toolbar>
      <ion-icon name="close" (click)="backClicked()" slot="start" class="ml-3 mediumicon" ></ion-icon>
      <ion-title>EXPERIENCES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
  
  <ion-card *ngFor="let obj of experienceResult;let i = index;">
    <div class="row">
        <img [src]="obj.bannerinage" class="img-fluid img-thumbnail" style="min-height:150px;max-height:150px;width: 100%;max-width: 100%;min-width: 100%;">
    </div>
    
  <ion-item>
    <ion-label>{{obj.name}}</ion-label>
    <ion-label slot="end" class="text-right"><span *ngFor="let stars of [1,2,3,4,5]"><i class="fa fa-star" *ngIf="stars <= 3" style="color:goldenrod" aria-hidden="true"></i><i class="fa fa-star-o" *ngIf="stars > 3" aria-hidden="true"></i></span></ion-label>
  </ion-item>
 
  <ion-card-content>
      <ion-fab horizontal="end" slot="fixed" style="margin-top: -97px">
          <ion-fab-button color="light" size="small" >
              <ion-icon *ngIf="i % 2 == 1" name="heart" style="color:rgb(250, 48, 48)"></ion-icon>
              <ion-icon *ngIf="i % 2 == 0" name="heart-empty"></ion-icon>
          </ion-fab-button>
        </ion-fab>
   <!-- {{obj.address}}, {{obj.state}} -->
  </ion-card-content>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
            <div class="card-desripction">
               <span [innerHTML]="obj.description"></span>
            </div>
        </ion-col>
        <ion-col size="6" style="text-align: right">
            <ion-button fill="outline">{{obj.discounted_price | currency:"₹" }}</ion-button>
            <ion-button fill="outline" color="danger" style="text-decoration: line-through;">{{obj.price | currency:"₹" }}</ion-button>
        
        </ion-col>
      </ion-row>
    </ion-grid>
     
  </ion-card-content>
    <ion-card-header>
      {{obj.expreviews}} reviews for this.
      <br>
      {{obj.explikes}} Likes for this.
    </ion-card-header>
</ion-card>



 

</ion-content>
