// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.full-width
{
    width: 100%;
}

.mt-5{
    margin-top: 4em;
}

// .searchbar-input.sc-ion-searchbar-md
// {
//   border-radius: 25px !important;
// }

.text-light-primary
{
    color: rgb(81, 172, 224);
}

.bottomtab
{
    border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}