<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="top fixed" color="light" >
          <ion-tab-button  class="p-2">
              <i class="material-icons text-light-primary">
                  local_hotel
                  </i>
            <ion-label>Hotels</ion-label>
          </ion-tab-button>

          <ion-tab-button class="p-2">
              <i class="material-icons text-light-primary">
                  restaurant
                  </i>
            <ion-label>Restraurant</ion-label>
          </ion-tab-button>


          <ion-tab-button class="p-2">
              <i class="material-icons text-light-primary">
                  directions_boat
                  </i>
            <ion-label>Experiences</ion-label>
          </ion-tab-button>
    
         
        </ion-tab-bar>

        <ion-tab-bar slot="top" color="light" class="bottomtab">
           
            <ion-tab-button  class="p-2">
                <i class="material-icons text-light-primary">
                    directions_bus
                    </i>
              <ion-label>Bus</ion-label>
            </ion-tab-button>
      
            <ion-tab-button  class="p-2">
                <i class="material-icons text-light-primary">
                    local_taxi
                    </i>
              <ion-label>Cab</ion-label>
            </ion-tab-button>

            <ion-tab-button class="p-2">
                <i class="material-icons text-light-primary">
                    directions_railway
                    </i>
              <ion-label>Trains</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    
      </ion-tabs>









  <ion-tabs>

    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="main">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tours">
          <ion-icon name="briefcase"></ion-icon>
        <ion-label>Tours</ion-label>
      </ion-tab-button>

      <ion-tab-button>
      
      </ion-tab-button>
      

      <ion-tab-button tab="offers">
          <ion-icon name="gift"></ion-icon>
        <ion-label>Offers</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="help">
          <ion-icon name="help-circle"></ion-icon>
        <ion-label>Help</ion-label>
      </ion-tab-button>
    </ion-tab-bar>


    <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="mb-2">
        <ion-fab-button>
        <img src="../../assets/images/icons/travell.png" class="img-fluid">
        </ion-fab-button>
      </ion-fab>

  </ion-tabs>
</ion-content>
