<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom" color="apptheme">
      <ion-tab-button tab="main">
        <i class="material-icons icon icon-homepage tab-icons"></i>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tours">
        <i class="material-icons icon icon-backpack tab-icons"></i>
        <ion-label>Tours</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile"  class="mb-2" top right edge>
        <ion-fab>
          <ion-fab-button size="small">
                  <img src="../../assets/images/icons/travell.png">
          </ion-fab-button>
        </ion-fab>
        </ion-tab-button>
      

      <ion-tab-button tab="offers">
        <i class="material-icons icon icon-tag tab-icons"></i>
          
        <ion-label>Offers</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="help">
        <i class="material-icons icon icon-question tab-icons"></i>
          
        <ion-label>Help</ion-label>
      </ion-tab-button>
    </ion-tab-bar>


     

  </ion-tabs>
</ion-content>
