<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="main">
        <i class="material-icons icon icon-homepage tab-icons"></i>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tours">
        <i class="material-icons icon icon-backpack tab-icons"></i>
        <ion-label>Tours</ion-label>
      </ion-tab-button>

      <ion-tab-button >
          
        </ion-tab-button>
      

      <ion-tab-button tab="offers">
        <i class="material-icons icon icon-tag tab-icons"></i>
          
        <ion-label>Offers</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="help">
        <i class="material-icons icon icon-question tab-icons"></i>
          
        <ion-label>Help</ion-label>
      </ion-tab-button>
    </ion-tab-bar>


      <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="mb-2" >
        <ion-fab-button>
            <ion-tab-button  tab="profile" >
                <img src="../../assets/images/icons/travell.png" class="img-fluid">
              </ion-tab-button>
        </ion-fab-button>
      </ion-fab>

  </ion-tabs>
</ion-content>
