ion-fab{
    ion-fab-button{
            border : .5px solid white !important;
            border-radius: 50%;
      }
      .img-fluid {
        max-width: 165%;
        margin-left: -11px;
        height: auto;
    }
  }