.item-avatar  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 90px !important;  //any size
    max-height: 90px !important; //any size 
    }
    

    .save-profile
    {
        font-weight: bold !important;
    }

    .hero-bkg-animated {
        background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;
        width: 100%;
        margin: 0;
        text-align: center;

        box-sizing: border-box;
        -webkit-animation: slide 20s linear infinite;
      }
      
      .hero-bkg-animated h1 {
        font-family: sans-serif;
      }
      
      @-webkit-keyframes slide {
          from { background-position: 0 0; }
          to { background-position: -400px 0; }
      }